:root{
    --color-text-titulos: #ffffff;
    --color-texto: rgba(255, 255, 255, 0.867);
    --color-acento: #E6E4C6;
    --color-fondo: #1c1f20;
        --color-fondo-tarjeta: #43437a27;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main"
    "footer footer"
    ;
    grid-template-columns: 220px 1fr;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-text-titulos);
}

header{
    grid-area: header;
    background-image: url(./img/fondo.jpg);
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-between;
}

header div{
    margin: 40px;
}

a:not(footer a){
    color: var(--color-fondo);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color-acento);
    border-radius: 5px;
    padding: 10px 40px;
}

header img{
    max-width: 270px;
    flex-shrink: 1;
    margin-right: 50px;
}

#tarjetasContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.proyecto{
    flex-basis: 314px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}

.tecnologia{
    margin-left: 5px;
    transition: 0.2s;
    user-select: none;
}

.tecnologia:hover{
    color:var(--color-acento);
}

.proyecto img{
    height: 150px;
    object-fit: cover;
    filter: grayscale(0.8);
    transition: 0.3s;
}

.proyecto:hover img{
    filter: grayscale(0);
}

.proyecto div{
    margin: 0 20px;
}

.proyecto a{
    margin-top: auto;
    text-align: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.tarjeta{
    background-color: var(--color-fondo-tarjeta);
    border-radius: 5px;
}

aside{
    grid-area: aside;
}

aside>div{
    padding: 20px 0;
    border-bottom: 2px solid var(--color-fondo);
}

aside img{
    max-width: 110%;
}

.presentacion div, .idioma div{
    display: flex;
    justify-content: space-between;
}

.presentacion span:last-of-type, .idioma span:last-of-type{
    color: var(--color-text-titulos);
}

footer{
    grid-area: footer;
}

footer a{
    color: var(--color-texto);
}

main{
    grid-area: main;
}